default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: pagepal_development
  username: postgres
  password: <%= ENV['DEV_DB_PASSWORD'] %> # optional if your local DB has a password
  host: localhost

test:
  <<: *default
  database: pagepal_test
  username: postgres
  password: <%= ENV['TEST_DB_PASSWORD'] %>
  host: localhost

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>

cable:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>

queue:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>

cache:
  <<: *default
  url: <%= ENV['CACHE_DATABASE_URL'] || ENV['DATABASE_URL'] %>
